<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main</title>
    </head>
    <body>
        <header th:replace="layout/template :: header"></header>
        <a th:href="@{/add}">[[#{person.create}]]</a>
        <div th:if="${people != null and !people.empty}">
            <table border="1">
                <tr>
                    <th>[[#{person.firstName}]]</th>
                    <th>[[#{person.lastName}]]</th>
                    <th>[[#{person.email}]]</th>
                    <th>[[#{person.phone}]]</th>
                    <th>[[#{action.edit}]]</th>
                    <th>[[#{action.delete}]]</th>
                </tr>
                <tr th:each="person : ${people}">
                    <td th:text="${person.firstName}"></td>
                    <td th:text="${person.lastName}"></td>
                    <td th:text="${person.email}"></td>
                    <td th:text="${person.phone}"></td>
                    <td><a th:href="@{/edit/} + ${person.idPerson}">[[#{action.edit}]]</a></td>
                    <td><a th:href="@{/delete(idPerson=${person.idPerson})}">[[#{action.delete}]]</a></td>
                </tr>
            </table>
        </div>
        <div th:if="${people == null or people.empty}">
            <p>[[#{person.emptyList}]]</p>
        </div>
        <p th:text="${user}"></p>

        <footer th:replace="layout/template :: footer"></footer>
    </body>
</html>