<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <h1>Main Page</h1>
    <p th:text="${message}"></p>
    <p th:text="${greetings}"></p>
    <p>First Name: <span th:text="${person.firstName}"></span></p>
    <p>Last Name: <span th:text="${person.lastName}"></span></p>
    <p>Email: <span th:text="${person.email}"></span></p>
    <p>Phone: <span th:text="${person.phone}"></span></p>
</body>
</html>