<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person information</title>
</head>
<body>
    <header th:replace="layout/template :: header"></header>
    <h2>[[#{person.information}]]</h2>
    <a th:href="@{/}">[[#{action.back}]]</a>
    <form th:action="@{/save}" method="post" th:object="${person}">
        <input type="hidden" name="idPerson" th:field="*{idPerson}">
        <div>
            <label for="firstName">[[#{person.firstName}]]:</label>
            <input type="text" name="firstName" th:field="*{firstName}">
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
        </div>
        <div>
            <label for="lastName">[[#{person.lastName}]]:</label>
            <input type="text" name="lastName" th:field="*{lastName}">
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
        </div>
        <div>
            <label for="email">[[#{person.email}]]:</label>
            <input type="email" name="email" th:field="*{email}">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>
        <div>
            <label for="phone">[[#{person.phone}]]:</label>
            <input type="tel" name="phone" th:field="*{phone}">
        </div>
        <input type="submit" name="save" th:value="#{action.save}">
    </form>
    <footer th:replace="layout/template :: footer"></footer>
</body>
</html>